.title-text h1 { font-weight: normal; color: #ff6060; 
  font-size: 2.25rem; 
}
.title-text p { 
  color: black; font-size: 1.125rem; padding-top: 6px ; 
}
@media (max-width: 1330px) {
  .title-text h1 { font-size: 1.80rem; }
  .title-text p { font-size: 0.94rem; }
}
@media (max-width: 1119px) {
  .title-text h1 { font-size: 1.57rem; }
  .title-text p { font-size: 0.84rem; }
}
@media (max-width: 1024px) {
  .title-text h1 { font-size: 1.4rem; }
  .title-text p { font-size: 0.94rem; }
}
@media (max-width: 954px) {
  .title-text h1 { font-size: 1rem; }
  .title-text p { font-size: 0.9rem; }
  .title-text p { padding-top: 2px}
}
@media (max-width: 675px) {
  .title-text h1 { font-size: 0.8rem; }
  .title-text p { font-size: 0.7rem; }
  .title-text p { padding-top: 2px}
}
