.accommodation-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.87rem;
  padding: 1rem;
}
.div-title-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-text h1 {
  font-weight: normal;
  color: #ff6060;
  font-size: 2.25rem;
 
}
.title-text p {
  color: black;
  margin-top: 0.31rem;
  font-size: 0.94rem;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.tag {
  background-color: #ff6060;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 0.87rem;
  font-weight: 500;
}
.host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.62rem;
}
.host-name {
  font-size: 1.12rem;
  font-weight: 500;
  color: #ff6060;
  text-align: right;
}
.host-picture {
  width: 3.12rem;
  height: 3.12rem;
  border-radius: 50%;
  object-fit: cover;
}
.div-host-rating {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  justify-content: end;
  gap: 0.31rem;
  margin-top: 1.25rem;
  font-size: 12rem;
}
.star {
  font-size: 1.75rem;
  color: lightgray;
}
.star.filled {
  color: #ff6060;
}
.carrousel-collapses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.87rem;
  padding: 1rem;
  gap: 4rem; /* espace horizontal entre les Collapse */
}
.carrousel-collapses > * {
  flex: 1;
}
.carrousel-collapses .collapse {
  width: 100%;
  margin: 0; /* Supprime toute marge par défaut */
}

@media (max-width: 573px) {
    
  .title-text h1 {
    font-size: 1.12rem;
  }
  .title-text p {
    font-size: 0.87rem;
  }
  .tag {
    font-size: 0.62rem;
  }
  .host-name {
  font-size: 1.12rem;
  }

}