.div-host-rating { display: flex; flex-direction: column; 
  align-items: flex-end; gap: 0px;
}
.host { display: flex; flex-direction: row; gap: 6px; 
  align-items: center; width: 10rem; height: 4rem; margin-bottom: 18px; 
}
.host p { font-size: 1.12rem; font-weight: 500;
  color: #ff6060; text-align: right;  
}
.host img { width: 4rem; 
  border-radius: 50%; object-fit: cover; 
}
.rating { display: flex; justify-content: center; 
  font-size: 12rem;
}
.star { width: 36px; height: 36px;
  color: lightgray; padding: 4px; ; 
}
.star.filled {
  color: #ff6060; 
}

@media (max-width: 1322px) {
  .host { width: 9.5rem; margin-bottom: 5px; }
  .host p { font-size: 1.10rem; }
  .host img { width: 3.6rem; }
  .rating { font-size: 10rem; }
  .star { width: 30px; height: 30px; }
}
@media (max-width: 1272px) {
  .host { margin-bottom: 4px; }
}
@media (max-width: 1129px) {
  .host { margin-bottom: 2px; }
}
@media (max-width: 1028px) {
  .host { margin-bottom: 0px; width: 8rem; height: 3.2rem; }
  .star { width: 23px; height: 24px;}
  .host p { font-size: 1.09rem; }
  .host img { width: 2.6rem; }
}
@media (max-width: 954px) {
  .host { width: 7rem; margin-bottom: 18px; }
  .host { margin-bottom: 0px; height: 2.8rem; }
  .star { width: 20px; height: 21px;}
  .host p { font-size: 1rem; }
  .host img { width: 2.2rem; }
}
@media (max-width: 849px) {
  .host { width: 6.6rem; margin-bottom: 0px; height: 2.2rem; }
  .host { margin-bottom: 0px; }
  .host p { font-size: 1rem; }
}
@media (max-width: 675px) {
  .host { width: 6rem; }
  .host p { font-size: 0.8rem; }
}
@media (max-width: 572px) {
  .div-host-rating { flex-direction: row-reverse; 
    justify-content: space-between; align-items: center;
    margin-top: 10px; }
  .star { width: 24px; height: 24px; }
}

