.card {
  position: relative; 
  width: 100%; height: 21.25rem; overflow: hidden; 
  aspect-ratio: 3 / 3; object-fit: cover;
  border-radius: 0.5rem; margin-top: 1.25rem; transition: transform 0.3s ease;
  box-shadow: 0 0.12rem 0.37rem rgba(0, 0, 0, 0.2); 
}
.card-title {  
  position: absolute; width: 18.75rem; left: 1.25rem;
  top: 16.75rem; color: white; font-size: 1.24rem; letter-spacing: 0%;
  font-weight: 700; font-family: "Montserrat", sans-serif;
}
.card:hover {
  transform: scale(1.03);
}
.card-cover {
  width: 100%; height: 100%; object-fit: cover; padding: 0;
}

@media (max-width: 1272px) {
  .card {
    height: 17rem; 
  } 
  .card-title {  
    width: 18.75rem; padding-right: 3rem; font-size: 1rem; 
    left: 1rem; top: 13.4rem; color: white;
  }
}
@media (max-width: 1024px) {
  .card { 
    height: 11.9rem; 
  }
  .card-title {  
    width: 14.35rem; font-size: 0.8rem; padding-right: 3rem;
    left: 0.4rem; top: 9rem; color: white; 
  }
}
@media (max-width: 576px) {
  .card { 
    height: 255px;  width: 100%; max-width: 100%; overflow: visible; 
    border-radius: 10px; 
  }
  .card-title { 
    width: 13.75rem; padding-right: 3rem; font-size: 1rem; padding-right: 0rem;
    left: 1rem; top: 12.75rem; color: white; 
  }
  .card-cover { border-radius: 10px; }
}

