.collapse {
  border: transparent;
  border-radius: 5px;
  margin: 1rem 0 0 12rem;
  overflow: hidden;
  width: 70%;
}

.collapse-header {
  background-color: #FF6060;
  color: #ffff;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  font-size: 18px;
}

.collapse-content {
  padding: 1rem;
  background-color: #ffff;
}

.collapse-content.open {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.collapse-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.9s ease;
}
.collapse-icon.rotated {
  transform: rotate(-180deg);
}
/* Conteneur avec transition d'ouverture */
.collapse-content-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-2px); /* déplacement vers le haut */
  transition: 
    max-height 0.9s ease,
    opacity 0.9s ease,
    transform 0.9s ease;
}


.collapse-content-wrapper.open {
  max-height: 500px; /* suffisamment grand pour le contenu */
  opacity: 1;
  transform: translateY(0); /* revient à sa position d'origine */
}

.collapse-content {
  padding: 0.5rem 0;
}