.collapse {
  border: transparent; border-radius: 0.31rem;
  margin: 0 auto; overflow: hidden; width: 70%; 
}
.collapse h3 {
  font-weight: 700; font-family: "Montserrat," sans-serif;
  font-size: 24px; padding-left: 10px;
}
.collapse-header {
  background-color: #FF6060; color: #ffff; padding: 0.4rem 0.4rem;
  display: flex; justify-content: space-between;
  align-items: center; border-radius: 0.31rem; cursor: pointer;  
}
.collapse-content {
  padding: 1rem; background-color: #ffff;
}
.collapse-content.open {
  padding-top: 0.5rem; padding-bottom: 0.5rem;
}
.collapse-icon {
  width: 2rem; height: 2rem; transition: transform 0.9s ease;
}
.collapse-icon.rotated {
  transform: rotate(-180deg);
}
.collapse-content-wrapper {
  padding: 0.62rem; max-height: 0px; font-size: 1.12rem;
  overflow: hidden; opacity: 0; transform: translateY(-9px); 
  transition: 
    max-height 0.9s ease,
    opacity 0.9s ease,
    transform 0.9s ease;
}
.collapse-content-wrapper.open {
  max-height: 31.25rem; opacity: 1; transform: translateY(0); 
}
.collapse-content {
  padding: 0.5rem 0;
}

@media (max-width: 1028px) {
  .collapse-header { height: 40px; }
  .collapse h3 { font-size: 15px; }
  .collapse-icon { width: 1.4rem; height: 1.4rem; transition: transform 0.9s ease; }
  .collapse-content p { font-size: 14px; }
}
@media (max-width: 572px) {
  .collapse-header { height: 30px; }
  .collapse h3 { font-size: 10px; }
  .collapse-icon { width: 1rem; height: 1rem; transition: transform 0.9s ease; }
  .collapse-content p { font-size: 12px; }
}

