.card-details {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0 15px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.arrow:hover {
  color: #ff6060; /* ou toute autre couleur de hover */
}

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.host-name {
  font-size: 16px;
  font-weight: 500;
  color: #ff6060;
  text-align: right;
}

.host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 20px;
  color: lightgray;
}

.star.filled {
  color: #ff6060;
}


.carousel-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.nav-button {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

.nav-button:first-of-type {
  left: 10px;
}

.nav-button:last-of-type {
  right: 10px;
}

.card-collapses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.div-title-host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-tags-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}