.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px 50px;
}

.header-logo {
    height: 60px;
}

.navigation-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-left: 20px;
    font-weight: 500;
}

.navigation-link.active {
  text-decoration: underline;
}
