/* Card.css */
.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  color: #FF6060;
}

.card-title {
  padding: 10px;
  font-size: 1.2rem;
}
