.gallery {
  display: flex;
  background-color: #F6F6F6;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  justify-content: center;
  border-radius: 0.62rem;
  border: transparent;
  margin: 40px 100px;
}


/*@media (max-width: 832px) {
    
    
}