.footer {
  background-color: black;
  color: white;
  padding: 30px 20px;
  text-align: center;
  margin-top: 40px;
}

.footer-logo {
  width: 122px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 24px;
}
