.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.error404 {
    height: 263px;
}

.errorText {
    width: 872px;
    display: flex;
    justify-content: center;
    align-items: center;
}