.banner-page {
  left: 5.2%;
  position: relative;
  width: 88%;
  height: 160px;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 10px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
