.banner-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 6.25rem 1.87rem 6.25rem;
  height: 13.94rem;
  overflow: hidden;
  border-radius: 15px;
}
.banner-page img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
}
.banner-image {
  object-fit: cover;
  filter: brightness(0.5);
}
.banner-text {
  position: absolute;
  color: white;
  font-size: 2.37rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1272px) {
  .banner-page {
    height: 11.94rem;
    
  }
}
@media (max-width: 1093px) {
  .banner-page {
    height: 10.94rem;
  }
  .banner-text {
    font-size: 30px;
  }
}
@media (max-width: 795px) {
  .banner-page {
    height: 9.94rem;
  }
  .banner-text {
    font-size: 20px;
  }
}
@media (max-width: 636px) {
  .banner-page {
    height: 7.94rem;
  }
  .banner-text {
    font-size: 17px;
  }
}
@media (max-width: 525px) {
  .banner-page {
    height: 6.94rem;
  }
  .banner-text {
    font-size: 14px;
  }
}
@media (max-width: 475px) {
  .banner-page {
    height: 4.94rem;
  }
  .banner-text {
    font-size: 12px;
  }
}
@media (max-width: 393px) {
  .banner-page {
    height: 3.94rem;
  }
  .banner-text {
    font-size: 10px;
  }
}